# Directory Artifacts #
#######################
build/
bin/
.gradle/
**/archives/**


# Other Projects #
##################
csharp/


# Miscellaneous Documentation #
###############################
/misc-docs/
/cfg/
/archives/


# Compiled Artifacts #
######################
*.class
*.dll


# Eclipse IDE Artifacts #
#########################
.classpath
.project
.settings/

# Other IDE Artifacts #
/.nb-gradle/profiles/private/

# Testing Artifacts #
#####################
*.log
logback.xml
wrk/
/log

# Package Files #
#################
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.gz
*.tgz
*.iso
#*.jar # Support demoJARs
*.war
*.ear
!gradle/wrapper/gradle-wrapper.jar
!**/dist/bin

CoyoteInstaller.jar
